<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization culture="vi-VN" uiCulture="vi" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.7.2" />
    <pages enableEventValidation="true" validateRequest="true" />
    <!-- Set requestValidationMode to 2.0 to allow ValidateRequest="false" to work properly -->
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
  </system.webServer>
  <location path="AddEditNews.aspx">
    <system.web>
      <pages validateRequest="false" />
    </system.web>
  </location>
  <location path="UploadImage.ashx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
    </system.web>
  </location>
</configuration>